### Python Webscraping Project
### Scrap Website
### Store data in database

In [4]:
# Header 
    # nav area
# main
    # main content (data)
# Footer

In [2]:
import requests as r
url = '''https://en.wikipedia.org/wiki/List_of_Indians_by_net_worth'''

response = r.get(url)

response

#### <Response [200]>   It means Data can be Extracted

In [3]:
html_data = response.content

In [4]:
from bs4 import BeautifulSoup
soup = BeautifulSoup(html_data)
print('Done')

Done

In [5]:
soup.find_all('table',class_ ="wikitable sortable jquery-tablesorter")

[]

In [24]:
students = ['karan','Ravi','Ajay','Mohan']
for index_no,value in  enumerate(students):
    if 1<= index_no <=2:
        print(value)

Ravi
Ajay

In [6]:
all_data = []

for index_no,value in enumerate(soup.find_all('tr')):
    if 0<= index_no <= 24:
        # print(index_no,value.text)
        temp_data = value.text.splitlines()

        while '' in temp_data:
            temp_data.remove('')

        all_data.append(temp_data)

print('Done')

Done

In [7]:
column = all_data[0]
final_data = all_data[1:]

In [8]:
import pandas as pd
final_columns = ['Rank','Name','Net worth (USD)','Company Name','Sources of wealth','None','None']
rich_list = pd.DataFrame(final_data,columns=final_columns)

final_df = rich_list.drop('None',axis=1)

final_df.to_excel('Rich_list.xlsx')
print('Done')

Done

In [10]:
import pymysql as py

conn = py.connect(user = 'root',
            password = 'utkarsh2408',
            host = 'localhost',
            autocommit = True)
cur = conn.cursor()
print('Done')

Done

In [12]:
query = 'create database wiki2;'

cur.execute(query)
print('Done')

Done

In [13]:
list(final_df.columns)

['Rank', 'Name', 'Net worth (USD)', 'Company Name', 'Sources of wealth']

In [ ]:
# list comprihancen

In [14]:
table_column = ['rich_'+i.replace(' ','_').replace('(USD)','US_Dollar') for i in final_df.columns]
table_column

['rich_Rank',
 'rich_Name',
 'rich_Net_worth_US_Dollar',
 'rich_Company_Name',
 'rich_Sources_of_wealth']

In [20]:
# join

query_part = ' varchar(255), ' .join(table_column) + ' varchar(255)'

query = '''Create table wiki2.rich_list('''+query_part +''');'''
print(query)

Create table wiki2.rich_list(rich_Rank varchar(255), rich_Name varchar(255), rich_Net_worth_US_Dollar varchar(255), rich_Company_Name varchar(255), rich_Sources_of_wealth varchar(255));

In [21]:
cur.execute(query)

0

In [29]:
# Insert Data

for i in final_df.itertuples():  # each row of dataframe itert 
    value = tuple(i)[1:]

    query = f'''insert into wiki2.rich_list values {value};'''
    cur.execute(query)