In [ ]:
# Int
a = 5679
print(a)

5679

In [ ]:
# Int
a = 5679
print(a,type(a))

5679 <class 'int'>

In [ ]:
# Float
a = 5679.647
print(a,type(a))

5679.647 <class 'float'>

In [ ]:
# Complex
a = 5679 + 8j
print(a,type(a))

(5679+8j) <class 'complex'>

In [ ]:
# Int ,float, Complex = Numerical

In [ ]:
# Str
a= 'Hello Python'
print(a,type(a))

Hello Python <class 'str'>

In [ ]:
poem = '''Twinkle twinkle little star
How I wonder what you are
Up above the world so high
Like a diamond in the sky
Twinkle twinkle little star
How I wonder what you are



Twinkle twinkle little star
How I wonder what you are
Up above the world so high
Like a diamond in the sky
Twinkle twinkle little star
How I wonder what you are'''


print(poem)

Twinkle twinkle little star
How I wonder what you are
Up above the world so high
Like a diamond in the sky
Twinkle twinkle little star
How I wonder what you are



Twinkle twinkle little star
How I wonder what you are
Up above the world so high
Like a diamond in the sky
Twinkle twinkle little star
How I wonder what you are

In [ ]:
#tuple
a = (2,43,838)
print(a,type(a))

(2, 43, 838) <class 'tuple'>

In [ ]:
#tuple
a = (2,)
print(a,type(a))

(2,) <class 'tuple'>

In [ ]:
#list
a = [2,43,838,8472]
print(a,type(a))

[2, 43, 838, 8472] <class 'list'>

In [ ]:
a[2] = 400

In [ ]:
print(a,type(a))

[2, 43, 400, 8472] <class 'list'>

In [ ]:
a = (3,544,5,346,567)

print(a[3])

346

In [ ]:
a = list(a)
a[3] = 900
a = tuple(a)
print(a)

(3, 544, 5, 900, 567)

In [ ]:
std_id = [1,1,2,2,2,2,23,3,3,3,4,4,45]

print(std_id)

[1, 1, 2, 2, 2, 2, 23, 3, 3, 3, 4, 4, 45]

In [ ]:
std_id = list(set(std_id))
print(std_id)

[1, 2, 3, 4, 45, 23]

In [ ]:
# dict:- key value pair datatype, # hash
a = {'Name' : 'Aman','Age' : 23,"Address": 'Delhi' }
print(a,type(a))

{'Name': 'Aman', 'Age': 23, 'Address': 'Delhi'} <class 'dict'>

In [ ]:
a['Address'] = 'Noida'
print(a)

{'Name': 'Aman', 'Age': 23, 'Address': 'Noida'}

In [ ]:
a['Name'] = 'Aman Kumar'
print(a)

{'Name': 'Aman Kumar', 'Age': 23, 'Address': 'Noida'}

In [ ]:
data = {'Region':['West','East','North','South'],
        'Sales':[345,847,637],
        'Profit':[120,200,40]}
print(data)

{'Region': ['West', 'East', 'North', 'South'], 'Sales': [345, 847, 637], 'Profit': [120, 200, 40]}

In [ ]:
import pandas as pd

table = pd.DataFrame(data)
table

ValueError: All arrays must be of the same length

In [ ]:
a = True
print(a,type(a))

True <class 'bool'>

In [ ]:
# int,float, complex
# str, tuple, list
# set, dict,
# bool

In [ ]:
# salary = 56789

# >= 50: manager
# >= 30: Jr manager
# >= 20: Executive
# Intern

In [ ]:
salary = 56789
if salary >= 50000:
  print('Manager')
elif salary >= 30000:
  print('Jr Manager')

elif salary >= 20000:
  print('Executive')
else:
  print('Intern')

Manager

In [ ]:
import random
random.randint(10000,600000)

414822

In [ ]:
import numpy as np
database_salary = np.random.randint(10000,60000,5)

In [ ]:
print(salary)

[41515 16300 51508 47168 39360]

In [ ]:
for i in database_salary:
  salary = i
  if salary >= 50000:
    print(i, 'Manager')
  elif salary >= 30000:
    print(i, 'Jr Manager')
  elif salary >= 20000:
    print(i, 'Executive')
  else:
    print(i, 'Intern')

53474 Manager
52132 Manager
19739 Intern
12214 Intern
10652 Intern

In [ ]:
import time
for i in range(20):
  print(time.asctime())
  time.sleep(1)
  display(clear= True)

Mon Jun 30 07:25:32 2025

In [ ]:
import random
comp_choice = random.randint(1,10)
user_choice = int(input('Enter your Choice(1-10): '))

print(f'''
User choice: {user_choice}
Computer Choice: {comp_choice}''')

if user_choice == comp_choice:
  print('User Won, Comp Lose!!')
else:
  print('Better Luck next time!!')

Enter your Choice(1-10): 1

User choice: 1
Computer Choice: 1
User Won, Comp Lose!!

In [ ]:
user_attempts = 3
import random
for i in range(user_attempts):
  comp_choice = random.randint(1,10)
  user_choice = int(input('Enter your Choice(1-10): '))

  print(f'''
  User choice: {user_choice}
  Computer Choice: {comp_choice}''')

  if user_choice == comp_choice:
    print('User Won, Comp Lose!!')
  else:
    print('Better Luck next time!!')

Enter your Choice(1-10): 8

  User choice: 8
  Computer Choice: 8
User Won, Comp Lose!!
Enter your Choice(1-10): 4

  User choice: 4
  Computer Choice: 5
Better Luck next time!!
Enter your Choice(1-10): 9

  User choice: 9
  Computer Choice: 10
Better Luck next time!!

In [ ]:
Questions = {1:'What is the capital of Australia?',
             2:'Who invented the telephone?',
             3:'Which planet is known as the Red Planet?',
             4:'In which year did India gain independence?',
             5:'What is the largest organ in the human body?'}

options = {1:'''A) Sydney
B) Melbourne
C) Canberra
D) Perth''',
           2:'''A) Albert Einstein
B) Isaac Newton
C) Alexander Graham Bell
D) Thomas Edison''',
           3:'''A) Earth
B) Venus
C) Jupiter
D) Mars''',
           4:'''A) 1945
B) 1946
C) 1947
D) 1950''',
           5:'''A) Liver
B) Brain
C) Skin
D) Heart'''}

win_ammount = 0

correct_op = ['C','C','D','C','C']

for i in range(1,len(Questions)+1):
  print(Questions[i])
  print(options[i])
  user_choice = input('Enter your choice: ').upper()

  correct_ans = correct_op[i-1]
  # print(correct_ans)
  if user_choice == correct_ans:
    win_ammount += 10000

  else:
    print('Better luck next time!!')
    break

print('Total Amount Won',win_ammount)

What is the capital of Australia?
A) Sydney
B) Melbourne
C) Canberra
D) Perth
Enter your choice: w
Better luck next time!!
Total Amount Won 0

In [ ]:
Questions = {1:'What is the capital of Australia?',
             2:'Who invented the telephone?',
             3:'Which planet is known as the Red Planet?',
             4:'In which year did India gain independence?',
             5:'What is the largest organ in the human body?'}

options = {1:'''A) Sydney
B) Melbourne
C) Canberra
D) Perth''',
           2:'''A) Albert Einstein
B) Isaac Newton
C) Alexander Graham Bell
D) Thomas Edison''',
           3:'''A) Earth
B) Venus
C) Jupiter
D) Mars''',
           4:'''A) 1945
B) 1946
C) 1947
D) 1950''',
           5:'''A) Liver
B) Brain
C) Skin
D) Heart'''}

win_ammount = 0

correct_op = ['C','C','D','C','C']

for i in range(1,len(Questions)+1):
  print(f'Question {i}: ',Questions[i])
  print(options[i])
  user_choice = input('Enter your choice: ').upper()

  correct_ans = correct_op[i-1]
  # print(correct_ans)
  if user_choice == correct_ans:
    win_ammount += 10000
    print('Correct Answer!!')
    print(end = '\n'*3)

  else:
    print('Better luck next time!!')
    break


print('Total Amount',win_ammount)Questions = {1:'What is the capital of Australia?',
             2:'Who invented the telephone?',
             3:'Which planet is known as the Red Planet?',
             4:'In which year did India gain independence?',
             5:'What is the largest organ in the human body?'}

options = {1:'''A) Sydney
B) Melbourne
C) Canberra
D) Perth''',
           2:'''A) Albert Einstein
B) Isaac Newton
C) Alexander Graham Bell
D) Thomas Edison''',
           3:'''A) Earth
B) Venus
C) Jupiter
D) Mars''',
           4:'''A) 1945
B) 1946
C) 1947
D) 1950''',
           5:'''A) Liver
B) Brain
C) Skin
D) Heart'''}

win_ammount = 0

correct_op = ['C','C','D','C','C']

for i in range(1,len(Questions)+1):
  print(f'Question {i}: ',Questions[i])
  print(options[i])
  user_choice = input('Enter your choice: ').upper()

  correct_ans = correct_op[i-1]
  # print(correct_ans)
  if user_choice == correct_ans:
    win_ammount += 10000
    print('Correct Answer!!')
    print(end = '\n'*3)

  else:
    print('Better luck next time!!')
    break


print('Total Amount',win_ammount)

SyntaxError: invalid syntax (ipython-input-54-2344461520.py, line 49)

In [ ]:
def say_hello(name):
  print(f'Hello {name}','how are you??')

In [ ]:
say_hello('Kartik')

Hello Kartik how are you??

In [ ]:
def vote(age):
   print("You can vote") if age >= 18 else print('Can Not Vote')

In [ ]:
vote(18)

You can vote

In [ ]:
# pip install gTTS

In [ ]:
from gtts import gTTS
text = '''Paytm par 50 rs Prapt hue'''
audio = gTTS(text)
audio.save('paytm.mp3')

import pygame as pg
pg.init()

music = pg.mixer.Sound('paytm.mp3')
music.play()

pygame 2.6.1 (SDL 2.28.4, Python 3.11.13)
Hello from the pygame community. https://www.pygame.org/contribute.html

error: mixer not initialized

In [ ]:
# pip install pygame

In [ ]:
def sound_box(paisa):
    text  = f'''Paytm par {paisa} rs Prapt hue.'''
    audio = gTTS(text)
    audio.save('paytm.mp3')

    import pygame as p
    p.init()

    music = p.mixer.Sound('paytm.mp3')
    music.play()

In [ ]:
def sound_box(paisa, platform = 'Paytm'):
    text  = f'''{platform} par {paisa} rs Prapt hue.'''
    audio = gTTS(text)
    audio.save('paytm.mp3')

    import pygame as p
    p.init()

    music = p.mixer.Sound('paytm.mp3')
    music.play()