# 1.Even or Odd Function

In [14]:
def check_even_or_odd(num):
    
    if num%2 == 0:
        return 'Even Number'
    else:
        return 'Odd Number'

In [67]:
check_even_or_odd(77)

'Odd Number'

In [15]:
check_even_or_odd(100)

'Even Number'

# 2.Pyramid Pattern

In [45]:
def print_pyramid(n = 5,symbol = '*'):
    for i in range(1,n+1):
        print(' '*(n-i) + f'{symbol} '*i)

In [66]:
print_pyramid(5,'$')

    $
   $ $
  $ $ $
 $ $ $ $
$ $ $ $ $

In [46]:
print_pyramid(10)

         *
        * *
       * * *
      * * * *
     * * * * *
    * * * * * *
   * * * * * * *
  * * * * * * * *
 * * * * * * * * *
* * * * * * * * * *

# 3.Hashtag Generator

In [55]:
def add_hastags(*names):
    lis=[]
    for i in names:
        lis.append('#' + i.upper())
    return lis

In [57]:
add_hastags('tata','jio','airtel')

['#TATA', '#JIO', '#AIRTEL']

# 4.User Input Factorial

In [51]:
def factorial(n):
    result = 1
    for i in range(1,n+1):
        result *= i
    return result

In [65]:
factorial(6)

720

# 5.Student Records

In [53]:
def student_records(**kwargs):
    for key,value in kwargs.items():
        print(f"{key}:{value}")

In [54]:
student_records(
    name = "Utkarsh",
    age = 20,
    city = "Delhi"
)

name:Utkarsh
age:20
city:Delhi

In [ ]:
student_records(
    name = "Kartik",
    age = "20",
    
)